.current-image {
  display:inline-block;
}

.buttons {
  display: inline-block;
/*  text-align:left;*/
}

.slider-opt {
  display: inline-block;
  width: 75px;
}

.sliders {
  display: inline-block;
}

.hide {
  display: none;
}

.opts {
  display: inline-block;
  vertical-align: top
}
