.pixel {
  width: 4px;
  min-height: 1px;
  display: inline-block;
  float:left;
}

#pixelContainer {
  width: 400px;
}

.hidden {
  display: none;
}

.content {
  margin-left: auto;
  margin-right: auto;
}
